<%= form_with(model: cluster, local: true) do |form| %>
  <% if cluster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cluster.errors.count, "error") %> prohibited this cluster from being saved:</h2>

      <ul>
      <% cluster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :clustername, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
    <%= form.text_field :clustername, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :clusterendpoints, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
    <%= form.text_area :clusterendpoints, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :clusterstatus, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
    <%= form.text_field :clusterstatus, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :clusterusername, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
    <%= form.text_field :clusterusername, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :clusterpassword, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
    <%= form.text_field :clusterpassword, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
