<p id="notice"><%= notice %></p>

<h1>Billings</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Address</th>
      <th>Phone</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @billings.each do |billing| %>
      <tr>
        <td><%= billing.firstname %></td>
        <td><%= billing.lastname %></td>
        <td><%= billing.address %></td>
        <td><%= billing.phone %></td>
        <td><%= billing.city %></td>
        <td><%= billing.state %></td>
        <td><%= billing.country %></td>
        <td><%= billing.email %></td>
        <td><%= link_to 'Show', billing %></td>
        <td><%= link_to 'Edit', edit_billing_path(billing) %></td>
        <td><%= link_to 'Destroy', billing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Billing', new_billing_path %>
