<%= form_with(model: credential, local: true) do |form| %>
  <% if credential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credential.errors.count, "error") %> prohibited this credential from being saved:</h2>

      <ul>
      <% credential.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cloudkey %>
    <%= form.text_field :cloudkey %>
  </div>

  <div class="field">
    <%= form.label :cloudsecret %>
    <%= form.text_field :cloudsecret %>
  </div>

  <div class="field">
    <%= form.label :cloudtoken %>
    <%= form.text_area :cloudtoken %>
  </div>

  <div class="field">
    <%= form.label :cloudtype %>
    <%= form.text_field :cloudtype %>
  </div>

  <div class="field">
    <%= form.label :clouddata %>
    <%= form.text_area :clouddata %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
