<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Cloudkey:</strong>
  <%= @credential.cloudkey %>
</p>

<p>
  <strong>Cloudsecret:</strong>
  <%= @credential.cloudsecret %>
</p>

<p>
  <strong>Cloudtoken:</strong>
  <%= @credential.cloudtoken %>
</p>

<p>
  <strong>Cloudtype:</strong>
  <%= @credential.cloudtype %>
</p>

<p>
  <strong>Clouddata:</strong>
  <%= @credential.clouddata %>
</p>

<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
</div>
